@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, rgba(253, 121, 168,0.4) 70%, white 30%);
}

.top-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 70px;
}

.s-icn i:first-child { 
  background: #e84393;
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;

}

.s-icn i {
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
  color:black;
  margin: 0px 5px;
}

.s-icn i:hover {
  background: #e84393;
  color: white;
  transition: 0.4s ease-in-out;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 70px;
}

.logo {
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 2px;
}

.menu a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 5px;
}

.menu a:first-child {
  background: #e84393;
  color: white;
}

.menu a:hover {
  background: #e84393;
  color: white;
  transition: 0.4s ease-in-out;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 70px;
}

.left {
  flex-basis: 50%;
}

.right {
  flex-basis: 50%;
  text-align: right;
}

.left h1 {
  font-size: 4rem;
}

.left h1 span {
  color: white;
  background: #e84393;
  padding: 0px 15px;
  border-radius: 5px;
}

.left p {
  margin: 30px 0;
  line-height: 2rem;
  font-size: 1.5rem;
}

.left button {
  padding: 10px 20px;
  font-weight: 600;
  border: none;
  outline: none;
  background: #e84393;
  color: white;
  border-radius: 5px;
  transition: 0.4s ease-in-out;
}

.left button:hover {
  background: #de609d9c;
  transition: 0.4s ease-in-out;
}

#btn2 {
  padding: 10px 20px;
  border: 1px solid #e84393;
  font-weight: 600;
  outline: none;
  background: transparent;
  color: black;
  margin-left: 10px;
  border-radius: 5px;

}

#btn2:hover{
  background: rgba(255, 255, 255, 0.423);
}